@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/stylesheet.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Portfolio</a>
        <nav class="navbar">
            <a href="#" style="--i:1" class="active" >Home</a>
            <a href="#" style="--i:2" >About</a>
            <a href="#" style="--i:3" >Skill</a>
            <a href="#" style="--i:4" >Portfolio</a>
            <a href="#" style="--i:5" >Contact</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h1>Hello, my name is Orkhan</h1>
            <h3>And I'm a <span class="text"></span></h3>
            <h6>As a Full Stack Developer, I have experience in both front-end and back-end technologies, allowing me to build dynamic and responsive web applications.</h6>
            <div class="home-sci">
                <a href="#" style="--i:7" ><i class='bx bxl-facebook'></i></a>
                <a href="#" style="--i:8" ><i class='bx bxl-instagram'></i></a>
                <a href="#" style="--i:9" ><i class='bx bxl-whatsapp'></i></a>
                <a href="#" style="--i:10" ><i class='bx bxl-linkedin'></i></a>
            </div>
            <a href="#" class="btn-box">More About Me</a>
            </div>
        </div>

    </section>

    <section class="about" id="about">
        <div class="about-img">
            <img src="/images/fto.jpg"/>
        </div>
        <div class="about-text">
            <h2>About<span>Me</span></h2>
            <h4>Full Stack Developer!</h4>
            <p>
                Although I have no work experience, I can write both backend and fornt side of Website and Deskopt Applications. Throughout my career, I will develop and
                deep understanding of user experience (UX)
                and user interface (UI) principles. by putting
                I try to put myself in the shoes of the end users
                creating an intuitive and seamless look
                experiences. I believe it is well designed
                A website should not only appear visually
                It is both attractive and smooth
                pleasant interaction for visitors. When
                When starting a new project, I research thoroughly
                and analyze the target audience
                customer's special requirements. It allows
                I adjust my designs to fit them
                expectations and deliver unique online
                an entity that matches their brand identity..</p>
            <a href="#" class="btn-box">More About Me</a>
        </div>
    </section>

    <section>
        <div class="services" id="services">
            <div class="container">
                <h1 class="sub-title">My <span>Services</span></></h1>
                <div class="services-list">
                    <div>
                        <i class='bx bx-code' style='color:#00eeff'></i>
                        <h2>UI/UX Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="read">lern more</a>
                    </div>

                    <div>
                        <i class='bx bx-crop' style='color:#00eeff'></i>
                        <h2>UI/UX Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="read">lern more</a>
                    </div>                    
                    
                    <div>
                        <i class='bx bxl-apple' style='color:#00eeff'></i>
                        <h2>UI/UX Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="read">lern more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h1 class="sub-title">My <span>Skills</span></h1>

    <section>
        <div class="container1" id="Skills">
            <h1 class="heading1">Technical Skills</h1>
            <div class="Technical-bars">
                <div class="bar">
                    <i class='bx bxl-html5' style="color:#c95d2e"></i>
                    <div class="info">
                        <span>HTML5</span>
                    </div>
                    <div class="progress-line html">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bxl-css3' style="color:#147bbc"></i>
                    <div class="info">
                        <span>CSS3</span>
                    </div>
                    <div class="progress-line css">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bxl-javascript' style="color:#b0bc1e"></i>
                    <div class="info">
                        <span>JavaScript (ES6+)</span>
                    </div>
                    <div class="progress-line javascript">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bxl-react' style="color:#61DAFB"></i>
                    <div class="info">
                        <span>React.js</span>
                    </div>
                    <div class="progress-line react">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bxl-bootstrap' style="color:#563D7C"></i>
                    <div class="info">
                        <span>Bootstrap</span>
                    </div>
                    <div class="progress-line bootstrap">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bxl-c-plus-plus' style="color:#00599C"></i>
                    <div class="info">
                        <span>C++</span>
                    </div>
                    <div class="progress-line cpp">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class="devicon-dot-net-plain" style="color:#512BD4"></i>
                    <div class="info">
                        <span>C++,C# .NET, ASP.NET MVC/Core, Web/API</span>
                    </div>
                    <div class="progress-line csharp">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bxl-nodejs' style="color:#68A063"></i>
                    <div class="info">
                        <span>Node.js</span>
                    </div>
                    <div class="progress-line nodejs">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bxl-python' style="color:#3776AB"></i>
                    <div class="info">
                        <span>Python</span>
                    </div>
                    <div class="progress-line python">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bx-code' style="color:#336791"></i>
                    <div class="info">
                        <span>RESTful API Design</span>
                    </div>
                    <div class="progress-line restapi">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class="devicon-azuresqldatabase-plain" style="color:#336791"></i>
                    <div class="info">
                        <span>Database Management (SQL Server, MsSQL)</span>
                    </div>
                    <div class="progress-line database">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bxl-git' style="color:#F05032"></i>
                    <i class='bx bxl-github' style="color:white"></i>
                    <div class="info">
                        <span>Git, GitHub</span>
                    </div>
                    <div class="progress-line git">
                        <span></span>
                    </div>
                </div>


                <div class="bar">
                    <i class='bx bxl-docker' style="color:#2496ED"></i>
                    <div class="info">
                        <span>Docker</span>
                    </div>
                    <div class="progress-line docker">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bx-cloud' style="color:#008AD7"></i>
                    <div class="info">
                        <span>Azure, AWS, Google Cloud Platform</span>
                    </div>
                    <div class="progress-line cloud">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bx-analyse' style="color:#009FDA"></i>
                    <div class="info">
                        <span>Agile Methodologies (Scrum, Kanban)</span>
                    </div>
                    <div class="progress-line agile">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bx-bug' style="color:#F77F00"></i>
                    <div class="info">
                        <span>Problem Solving and Debugging</span>
                    </div>
                    <div class="progress-line problem-solving">
                        <span></span>
                    </div>
                </div>

                <div class="bar">
                    <i class='bx bx-rocket' style="color:#A4508B"></i>
                    <div class="info">
                        <span>Test-Driven Development (TDD)</span>
                    </div>
                    <div class="progress-line tdd">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container1">
            <h1 class="heading1">Professional Skills</h1>
            <div class="radial-bars">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">90%</div>
                <div class="text">creativity</div>
            </div>

            <div class="radial-bars">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">65%</div>
                <div class="text">Communication</div>
            </div>

            <div class="radial-bars">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">75%</div>
                <div class="text">Problem Solving</div>
            </div>

            <div class="radial-bars">
                <svg x="0px" y="0px" viewBox="0 0 200 200">
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">85%</div>
                <div class="text">TeamWork</div>
            </div>
        </div>

    </section>



    <script src="~/js/portfolio.js"></script>
]
</body>
</html>
